/.quarto/
/_site/
.vscode

# Python notebook files
.ipynb_checkpoints/
__pycache__/


.env

.cursor/
/.luarc.json

# Large dataset files
data/flickr-faces-filtered/dataset*/
*.arrow

# Large image files
posts/images/paste-*.png
