[submodule "data/what_is_prompt_engineering/data/what_is_prompt_engineering"]
	path = data/what_is_prompt_engineering/data/what_is_prompt_engineering
	url = https://huggingface.co/spaces/Slyracoon23/what_is_prompt_engineering
